<ng-container *ngIf="eventEditPost">
  <h1>Post</h1>
  <p></p>
  <form action="">
    <div class="form-group">
      <label>ID</label>
      <input type="number" class="form-control" value="{{ PostDetail?.id }}" readonly>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" value="{{ PostDetail?.title }}">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control">{{ PostDetail?.description }}"</textarea>
    </div>
    <div class="form-group">
      <label>Detail</label>
      <textarea class="form-control" style="height: 300px;">{{ PostDetail?.detail }}"</textarea>
    </div>
    <div class="form-group">
      <label>Type</label>
      <input type="text" class="form-control" readonly value="{{ PostDetail?.postType.name }}">
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" readonly value="{{ PostDetail?.member.username }}">
    </div>
    <div class="form-group">
      <label>Date Submit</label>
      <input type="text" class="form-control" readonly value="{{ PostDetail?.date_submit }}">
    </div>
    <div class="form-group">
      <label>View Total</label>
      <input type="number" class="form-control" readonly value="{{ PostDetail?.view_total }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ng-container>
<ng-container *ngIf="!eventEditPost">
  <h1>Post</h1>
  <p></p>
  <form (ngSubmit)="onAddPost(postForm);" #postForm="ngForm">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" ngModel required >
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" ngModel required ></textarea>
    </div>
    <div class="form-group">
      <label>Detail</label>
      <textarea class="form-control" style="height: 300px;" name="detail" ngModel required ></textarea>
    </div>
    <div class="form-group">
      <label>Type</label>
      <!-- <input type="text" class="form-control" name="postType" ngModel> -->
      <select class="form-control" name="type" style="width: 100%" ngModel required >
        <option *ngFor="let type of listPostType" [ngValue]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Submit</button>
  </form>
</ng-container>