<div class="jumbotron" style="margin-bottom: 1px;">

</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:24px 0;">
  <a class="navbar-brand" href="javascript:void(0)">My Blog</a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list">Home</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Category
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let item of listPostType" routerLink="/category/{{ item.id }}">{{ item.name }}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hotnews">Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>