<div class="container">
  <div class="row">
    <div class="col-sm-9" style="border: 1px solid black;">
      <h2>{{ postDetail?.title }}</h2>
      <p>Author : {{ postDetail?.member.username }} , Date Submitted : {{ postDetail?.date_submit }} , View_Total : {{ postDetail?.view_total }}</p>
      <p>{{ postDetail?.description }}</p>
      <img src="../../assets/img/image4.jpg" alt="Smiley face" height="250" width="400">
      <p></p>
      <p>{{ postDetail?.detail }}</p>
    </div>
    <div class="col">
      <h5>Related News</h5>
      <ul *ngIf="relatedPost">
        <li *ngFor="let item of relatedPost">
          <a routerLink="/detail/{{item.id}}">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>