<div class="container">
  <div class="row">
    <div class="col-sm-9" style="border: 1px solid black;">
      <h2>{{ PostDetail?.title }}</h2>
      <p>Author : {{ PostDetail?.member.username }} , Date Submitted : {{ PostDetail?.date_submit }} , View_Total : {{ PostDetail?.view_total }}</p>
      <p>{{ PostDetail?.description }}</p>
      <img src="../../assets/img/image4.jpg" alt="Smiley face" height="250" width="400">
      <p></p>
      <p>{{ PostDetail?.detail }}</p>
    </div>
    <div class="col">
      <h5>Related News</h5>
      <ul *ngIf="RelatedPost">
        <li *ngFor="let item of RelatedPost">
          <a (click)="getRelatedPostId(item.id)">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>