<div *ngFor="let item of Post">
  <div class="container post">
    <div class="row">
      <div class="col col-lg-3">
        <img src="../../assets/img/image4.jpg" alt="Smiley face" height="250" width="250">
      </div>
      <div class="col">
        <div>
          <h4>{{ item.title }}</h4>
        </div>
        <div>
          <p>Author : {{ item.member.username }} , Date Submitted : {{ item.date_submit }} , View Total : {{ item.view_total }}</p>
          <p>{{ item.description }}</p>
        </div>
        <div>
            <a (click)="getPostId(item.id)" class="btn btn-info">View Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>