<div class="container">
  <app-header></app-header>
  <div *ngFor="let item of listPost">
    <div class="container post">
      <div class="row">
        <div class="col col-lg-3">
          <img src="../../assets/img/image2.jpg" alt="Smiley face" height="250" width="250">
        </div>
        <div class="col">
          <div>
            <h4>{{ item.title }}</h4>
          </div>
          <div>
            <p>Author : {{ item.member.username }} , Date Submitted : {{ item.date_submit }}</p>
            <p>{{ item.description }}</p>
          </div>
          <div>
              <!--<a routerLink="/detail/{{item.id}}" routerLinkActive="active" class="btn btn-info">View Detail</a>-->
              <button (click)="viewDetail(item.id)" class="btn btn-info">View Detail</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>